.play-button {
    width: 7em;
    height: 7em;
    border-radius: 3.5em;
    border: 1px #eee solid;
    box-sizing: border-box;
    background: #444;
    position: relative;
    float: left;
    margin-right: 1em;
}

.clip-title {
    font-size: 1.5em;
    font-weight: bold;
}

.timestamp {
    font-family: "Droid Sans Mono", "Courier New",  monospace ;
}

.play-button.paused:hover,
.play-button.playing:hover {
    cursor: pointer;
    background: #555;
}

.play-button.paused:after {
    content: "";
    border-left: 3em #fff solid;
    border-bottom: 2em transparent solid;
    border-top: 2em transparent solid;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2em 0 0 -1.2em;
}

.play-button.playing:after {
    content: "";
    border-left: .8em #fff solid;
    border-right: .8em #fff solid;
    width: .8em;
    height: 3.4em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.7em 0 0 -1.2em;
}

.play-bar {
    margin-top: .2em;
    width: 15em;
    height: 2em;
    background: #111;
    display: inline-block;
}

.play-bar-progress {
    height: 2em;
    display: inline-block;
    background: #eee;
}