.control-panel {
    float: left;
    width: 25em;
    background: #333333;
    height: 100%;
    color: #eee;
    padding: 1em;
    box-sizing: border-box;
}

.effectOption {
    margin: .5em .25em .5em 0;
    padding: .5em;
    border: 1px #aaa solid;
    display: inline-block;
}

.playing {
    font-weight: bold;
    color: #ccffcc;
    border-left: 3px #ccffcc solid;
    background: #444;
}

.playing::before {
    content: '';
    height: 0;
    width: 0;
    border-left: 15px #ccffcc solid;
    border-top: 10px transparent solid;
    border-bottom: 10px transparent solid;
    position: absolute;
    top: 5px;
    left: -2em;
}

.playlist ul {

}

.playlist li {
    list-style: none;
    padding: .3em;
    border-bottom: 1px #333 solid;
    position: relative;
}

.playlist li:hover {
    cursor: pointer;
    background: #555;
}