<div class="control-panel">
    <audio-player></audio-player>

    <br>
    <h4>Effects</h4>
    <label ng-repeat="(name, effect) in effects" class="effectOption">
        <label>{{ effect | capitalize }} <input type="checkbox" checklist-value="effect" checklist-model="visualizer.effects" ></label>
    </label>

    <div class="waveform">
        Peak: <span ng-bind="visualizer.waveform.peak"></span><br>
        Trough: <span ng-bind="visualizer.waveform.trough"></span><br>
        Distance: <span> {{ visualizer.waveform.peakDistance }}</span><br>
        Period: <span ng-bind="visualizer.waveform.period"></span>
    </div>

    <!--<span>{{ visualizer.effects.join(' ') }}</span>-->

    <br>
    <label>Circle Radius:
        <input type="range" min="50" max="400" ng-model="visualizer.maxRadius">
    </label>

    <span>{{ visualizer.maxRadius }}</span>

    <h4>Songs</h4>
    <playlist></playlist>
</div>