@import url(https://fonts.googleapis.com/css?family=Play);

html,
body {
    margin: 0;
    font-size: 100%;
    padding: 0;
    text-align: center;
    font-family: "Play", sans-serif;
    overflow-x: hidden;
}

header {
    background: #ddd;
    margin-bottom: .4em;
    border-bottom: .5em #333 solid;
    text-align: center;
}

canvas, main {
    width: 60em;
    height: 13em;
    display: inline-block;
}

main {
    text-align: left;
    padding: 1em;
    box-sizing: border-box;
    margin: .4em 0 1em;
    height: auto;
}

#portrait {
    float: left;
    padding: 0 1em 0 0;
    margin-bottom: 1em;
}

footer {
    background: #333333;
    padding: 1em;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer img {
    vertical-align: middle;
    max-height: 1.5em;
    margin-right: .3em;
}

#lastCommit {
    clear: both;
    background: #ddd;
    padding: .5em;
}

#lastCommit a {
    text-decoration: none;
    color: #333;
}

#lastCommit .date {
    font-weight: bold;
    color: #111;
    font-size: 1.1em;
}