<div class="audio-player clearfix">

    <button class="cp-button cp-button-small ap-seek ap-seek-back">
        <span class="fa fa-step-backward"></span>
    </button>

    <button class="cp-button play-button" ng-class="player.state.toLowerCase()" ng-click="player.togglePlaying()">
        <loader-icon ng-if="player.state === 'Loading'"></loader-icon>
    </button>
    <span class="clip-title" ng-bind="player.playing.name"></span><br>
    <span class="timestamp">{{ player.playbackTime | secondsToDate | date:'m:ss' }} / {{ player.trackLength | secondsToDate | date:'m:ss' }}</span>

    <span class="play-bar" ng-click="seek($event)"><span class="play-bar-progress" ng-style="{width: getPlaybarSize()}"></span></span>

    <ap-volume player="player"></ap-volume>


    <button class="cp-button cp-button-small ap-seek ap-seek-forward">
        <span class="fa fa-step-forward"></span>
    </button>
</div>
