html, body {
    overflow: hidden;
}

.control-panel {
    float: left;
    width: 25em;
    background: #333333;
    height: 100%;
    color: #eee;
    padding: 1em;
    box-sizing: border-box;
}

.control-panel h4 .fa {
    margin-right: .5em;
}

.toggleButton span {
    margin: .5em .25em .5em 0;
    padding: .5em;
    border: 1px #aaa solid;
    display: inline-block;
    cursor: pointer;
}

.toggleButton span:hover {
    background: #999;
}

.toggleButton input {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.toggleButton input:checked + span {
    background: #222;
}
.color-input, .select-box {
    background: #222;
    padding: .5em;
    margin: 0 0 .25em;
    display: block;
}

.select-box select, .select-box input {
    border: 0;
    padding: .25em;
    margin: -.25em 0 -.25em .5em;
    vertical-align: middle;
}

.color-input .strip {
    width: 12em;
    margin: 0 0 -1.5em .4em;
    height: 2em;
    background: linear-gradient(to right,
    rgba(255, 0, 0, 1),
    rgba(255, 255, 0, 1),
    rgba(0, 255, 0, 1),
    rgba(0, 255, 255, 1),
    rgba(0, 0, 255, 1),
    rgba(255, 0, 255, 1),
    rgba(255, 0, 0, 1));
}

.color-input input {
    width: 15em;
    height: 1em;
    padding: 0;
    margin-bottom: .5em;
}

.cp-container ul {
    background: #2a2a2a;
    margin: .5em 0 0;
}
.expanded {
    transition: max-height .2s;
    max-height: 20em;
    overflow: hidden;
}

.collapsed {
    max-height: 2.4em;
    overflow: hidden;
    transition: max-height .2s;
}

.ps-accordion-header:hover {
    cursor: pointer;
    background: #555;
}

.ps-accordion-icon {
    float: right;
}
