<div class="control-panel">
    <audio-player></audio-player>

    <br>
    <h4>Effects</h4>
    <label ng-repeat="(name, effect) in effects" class="toggleButton effectOption">
        <input type="checkbox" checklist-value="effect" checklist-model="visualizer.effects" ><span>{{ effect | capitalize }} </span>
    </label>

    <label class="select-box">Noise Amount
        <input type="range" min="0" max="1" ng-model="visualizer.noiseThreshold" step="0.01">
    </label>

    <label class="color-input"><span>Visualization Color </span>
        <div class="strip"></div>
        <input type="range" min="0" max="360" ng-model="visualizer.hue">
    </label>

    <label class="select-box">Reverb Effect
        <select ng-model="reverbEffect" ng-options="effect as effect.name for effect in reverbEffects track by effect.id" ng-change="setReverbEffect()"></select>
    </label>

    <h4>Songs</h4>
    <playlist></playlist>
</div>